<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i>
                            <% settings.forEach(setting => { %>
                             <%if(setting.headerSettingAd == "sabittel"){%> 
                                <%-setting.headerSettingLink %> 
                             <% } %>
                            <% }) %>
                            </a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>
                                <% settings.forEach(setting => { %>
                                    <%if(setting.headerSettingAd == "iletişim mail"){%> 
                                       <%-setting.headerSettingLink %> 
                                    <% } %>
                                   <% }) %>
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a  target="_blank" href=" <% settings.forEach(setting => { %>
                                <%if(setting.headerSettingAd == "facebook"){%> 
                                   <%-setting.headerSettingLink %> 
                                <% } %>
                               <% }) %>"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href=" <% settings.forEach(setting => { %>
                                <%if(setting.headerSettingAd == "instagram"){%> 
                                   <%-setting.headerSettingLink %> 
                                <% } %>
                               <% }) %>"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href=" <% settings.forEach(setting => { %>
                                <%if(setting.headerSettingAd == "twitter"){%> 
                                   <%-setting.headerSettingLink %> 
                                <% } %>
                               <% }) %>"><i class="fab fa-twitter"></i></a></li>
                            <li><a target="_blank" href=" <% settings.forEach(setting => { %>
                                <%if(setting.headerSettingAd == "youtube"){%> 
                                   <%-setting.headerSettingLink %> 
                                <% } %>
                               <% }) %>"><i class="fab fa-youtube"></i></a></li>
                            <li><a target="_blank" href=" <% settings.forEach(setting => { %>
                                <%if(setting.headerSettingAd == "whatsapp"){%> 
                                   <%-setting.headerSettingLink %> 
                                <% } %>
                               <% }) %>"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"><img style="height: 39px; width: 139px;" src="/<%-logo[0].headerSettingLink%> " alt="" /></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <% if (uye != undefined) { %>
                                <li><a href="#"><i class="fa fa-user"></i> Hesabım</a></li>
                                <li><a href="#"><i class="fa fa-star"></i> İstek Listem</a></li>
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Sepet</a></li>
                            <% }else{ %>
                                <li><a href="/login"><i class="fa fa-lock"></i> Giriş yap / Kaydol</a></li>
                            <% } %> 
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/">Anasayfa</a></li>
                            <li><a href="/">Alışverişe Başla </a></li>
                            <li><a href="contact-us.html">İletişim</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Ürün ara"/>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->