<%- include('../defaultPartials/headers.ejs') %>
<section id="advertisement">
    <div class="container">
        <img src="/default/images/shop/advertisement.jpg" alt="" />
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Kategoriler</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        
                        <% categoryes.forEach(category=> { %>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="/shop/category/<%-category.categoryLink%> ">
                                            <%- category.categoryAd %>
                                        </a></h4>
                                </div>
                            </div>
                            <% }) %>
                        
                    </div><!--/category-productsr-->

                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Ürünler</h2>
        
                    <% if (urunyok != undefined && urunyok == 'true'  ) { %>
                        <div align="center"><b><p>Maalefes Ürün Bulunamadı.!</p></b></div>
                    <% } %>
                    <% if (uye !=null) { %>
                        <% allProducts.forEach(product=> { %>
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/<%-product.urunFoto %> " alt="" />
                                            <h2>
                                                <%-product.urunFiyat %>
                                            </h2>
                                            <p>
                                                <%-product.urunAd %>
                                            </p>
                                            <a href="<%-product._id %>"
                                                class="btn btn-default add-to-cart sepeteekle"><i
                                                    class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>
                                                    <%-product.urunFiyat %>
                                                </h2>
                                                <p>
                                                    <%-product.urunAd %>
                                                </p>

                                                <a href="<%-product._id %>"
                                                    class="btn btn-default add-to-cart sepeteekle"><i
                                                        class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% }else { %>
                                    <% allProducts.forEach(product=> { %>
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="/<%-product.urunFoto %> " alt="" />
                                                        <h2>
                                                            <%-product.urunFiyat %>
                                                        </h2>
                                                        <p>
                                                            <%-product.urunAd %>
                                                        </p>

                                                        <a href="/login" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>Giriş Yap</a>

                                                    </div>
                                                    <div class="product-overlay">
                                                        <div class="overlay-content">
                                                            <h2>
                                                                <%-product.urunFiyat %>
                                                            </h2>
                                                            <p>
                                                                <%-product.urunAd %>
                                                            </p>
                                                            <a href="/login"
                                                                class="btn btn-default add-to-cart"><i
                                                                    class="fa fa-shopping-cart"></i>Giriş
                                                                Yap</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } %>
                
                </div><!--features_items-->
                <% if(isCP && isCP != undefined){ %> 
                    <ul class="pagination">
                        <% if(productsCount >= 6 && productsCount!=undefined){
                           let buttonCount = Math.ceil(productsCount/6);
                           for(let i=1; i<=buttonCount;i++){
                         %> 
                             <li class="<%=(buttonindex == i)?'active':''%>"><a href="/shop/category/<%=activeCategory%>?page=<%-i%>"><%-i%></a></li>
                         <% }} %> 
                     </ul>

                <% } else { %>
                    <ul class="pagination">
                        <% if(productsCount >= 6 && productsCount!=undefined){
                           let buttonCount = Math.ceil(productsCount/6);
                           for(let i=1; i<=buttonCount;i++){
                         %> 
                             <li class="<%=(buttonindex == i)?'active':''%>"><a href="/shop?page=<%-i%>"><%-i%></a></li>
                         <% }} %> 
                     </ul>
                 <% } %> 
                
            </div>
        </div>
    </div>
</section>
<%- include('../defaultPartials/footer.ejs') %>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

			<script>

				$(document).ready(function () {
					$('.sepeteekle').click(function (event) {

						let degerler = $(this).attr('href');
						$.ajax({
							method: 'POST',
							url: '/basket',
							data: { urunid: degerler },
							success: function (data) {
								if (data.status) {

                                    let sayi = $('#sepetsayi').text();
                                    $('#sepetsayi').text(parseInt(sayi)+1);
									Swal.fire({
										position: 'top-end',
										icon: 'success',
										title: 'Ürün Sepete Eklendi',
										showConfirmButton: false,
										timer: 1500
									})
								}else{
									Swal.fire({
										position: 'top-end',
										icon: 'error',
										title: 'Hata.!',
										showConfirmButton: false,
										timer: 1500
									})
								}

							}
						})


						event.preventDefault();
					})
				})



			</script>