<%- include('../defaultPartials/headers.ejs') %>
	<section id="cart_items">

		<div class="container">
			<div class="row">
				<% if (locals.auth_success != undefined) { %>
					<%- include('../partials/_validateErrorMsg') %> 
				 <% } %>

				<% if (siparisdetay !=undefined) { %>
				<div class="table-responsive cart_info col-md-12 col-sm-12 mt-3">
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="image">Ürün</td>
								<td class="description">Ürün Adı</td>
								<td class="price">Ürün Fiyat</td>
							</tr>
						</thead>
						<tbody>
								<% for (let i=0; i <=siparisdetay.length - 1; i++) { %>
									<tr class="sepet">
										<td class="cart_product">
                                                <img width="40" height="40" src="/<%-siparisdetay[i].products_foto%>">
										</td>
										<td class="cart_description">
											<p><%-siparisdetay[i].products_ad%></p>
										</td>
										<td class="cart_price">
											<p><%-siparisdetay[i].products_fiyat%></p>
										</td>
									</tr>
									<% } %>
						</tbody>
					</table>
				</div>

				<% }else{ %> 
					<div align="center" class="col-md-12">
						<div style="display: block !important; margin-top: 50px !important; margin-bottom: 50px;" class="alert alert-primary" role="alert">
							Sipariş Detayı Bulunmadı.!   Siparişlerini Görmek İçin <a href="/basket/siparislerim">Buraya Tıkla .!</a>
						  </div>
					</div>
				<% } %> 

			</div>
		</div>
	</section>
	<!--/#cart_items-->
	<%- include('../defaultPartials/footer.ejs') %>
