
<div class="wrapper bg-white">
    <% if (locals.auth_errors != undefined || locals.auth_success != undefined || locals.login_error != undefined) { %>
        <%- include('../partials/_validateErrorMsg') %> 
     <% } %>

    <form action="/admin/update-setting/<%=setting.id%>" method="POST" enctype="multipart/form-data">
            <% if (setting.headerSettingAd=="logo") { %>
            <div class="d-flex align-items-start py-3 border-bottom"> <img
                    src="/<%=setting.headerSettingLink%>"
                    class="img">
                <div class="pl-sm-4 pl-2" id="img-section"> <b>Logo Fotoğrafı</b>
                    <p style="font-size: 9px">Yalnız .png .jpg .jpeg yükleyin, en fazla 1mb!</p> <input style="max-width: 200px ; font-size: 10px;"
                       type="file" name="headerSettingLink" class="btn button border">
                </div>
            </div>
            <% } %>
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">Ayar Adı</label> <input type="text" name="headerSettingAd"
                        class="bg-light form-control" value="<%- setting.headerSettingAd %> "> </div>
                <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Ayar Açıklama</label> <input type="text" name="headerSettingDesc"
                        class="bg-light form-control" value="<%=setting.headerSettingDesc %> "> </div>
            </div>
            <div class="row py-2">
                <div class="col-md-12"> <label for="text">Ayar Link</label> <input type="text" name="headerSettingLink"
                        class="bg-light form-control" value="<%- setting.headerSettingLink %> "> </div>
            </div>
           
            <div class="py-3 pb-4 border-bottom">
                <button type="submit" class="btn btn-primary mr-3">Güncelle</button>
            </div>
    </form>
</div>